:root {
  --bg-color: #ffe6f5;
  --txt-color: #000;
  --titre1-color: #510185;
  --titre2-color: #d085ff;
  --btn-color: #ffae75;
  --btn-colorFonce: #ce8d5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--titre1-color);
  color: var(--bg-color);
}

body {
  font-family: "Exo 2", serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

/*#region BOUTON */

.btn {
  background: var(--btn-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: var(--titre2-color);
}

.btn-contact {
  width: 100%;
  height: 55px;
  background: var(--titre2-color);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-top: 25px;
  transition: transform 0.5s ease;
}

/*#endregion BOUTON */

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--btn-colorFonce);
  
}

/*#region Navbar */
.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header-img-container {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin-right: 1.5rem;
}

.header {
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
}

.navbar-text {
  color: var(--txt-color);
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-brand {
  font-size: 2rem;
  color: var(--txt-color);
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 2rem;
  text-shadow: 0 1px 2px rgba(81, 1, 133, 0.65);
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  flex-direction: row;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--txt-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--titre2-color);
  text-shadow: 0 1px 2px rgba(0, 0, 133, 0.65);
}

.navbar-connect {
  display: flex;
  gap: 1rem;
}

.navbar-connect .btn {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-connect .btn-outline-light {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  align-content: center;
}

.navbar-connect .btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

.navbar-connect .btn-light {
  background-color: #fff;
  color: #000;
  border: none;
  transition: all 0.3s ease;
}

.navbar-connect .btn-light:hover {
  background-color: #f0f0f0;
}

/*#endregion Navbar */

/*#region Contact */
.contact {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.btn-sub-contact {
  padding: 1.5rem 5rem;
  font-size: 1.4rem;
}

.contact-form-container {
  padding: 2rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
  background-color: var(--titre1-color);
}

.contact--form-field {
  margin-bottom: 4rem;
}

.contact--form-label {
  color: #bdbdbd;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact--form-input {
  color: #333;
  width: 100%;
  max-height: 200px;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0px;
  border-radius: 5px;
  font-weight: bold;
}

.contact-btn {
  width: 30%;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  margin-right: 30%;
}

.txt-contact {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#contact h2 span {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/*#endregion Contact */

/*#region footer */
.copy-right{ color: white;}

.main-footer {
  margin-top: 10%;
  background: var(--titre1-color);
  color: #fff;
}

.main-footer-col-1 {
  order: 2;
}

.main-footer-col-2 {
  width: 40%;
  order: 1;
  max-width: 50rem;
  margin: 0 0 0 5rem;
}

.main-footer-social-stock {
  margin-top: 1rem;
}

.main-footer-icone {
  margin-right: 1rem;
  width: 3rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.main-footer-icone:hover {
  transform: scale(1.2);
}

.main-footer-icone--mr-none {
  margin-right: 0;
}

/*#endregion footer */

h1 {
  color: var(--titre1-color);
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(81, 1, 133, 0.4);
  /* Ombre légère pour le titre */
}

h2 {
  color: var(--titre1-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--titre2-color);
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--txt-color);
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
  /* Espacement de lettres pour plus de lisibilité */
}

/* Mission section */

ul.list-unstyled li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  position: relative;
  padding-left: 25px;
}

.slider {
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.slider-items {
  gap: 20px;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.slider-items img {
  width: 12%;
  margin: 20px;
}

/* Info-box */
.info-box {
  background: linear-gradient(45deg, var(--bg-color), var(--titre2-color));
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.info-box:hover {
  transform: translateY(-5px);
  /* Effet de "rehaussement" au survol */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  /* Ombre plus marquée au survol */
}

.info-box h2 {
  font-size: 2rem;
  color: var(--titre1-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  /* Rendre les titres de section plus nets */
}

.info-box p {
  font-size: 1.1rem;
  color: var(--txt-color);
}

/* Banner */
.banner {
  background: linear-gradient(45deg, var(--titre2-color), var(--btn-color));
  /* Dégradé linéaire */
  color: white;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Ombre pour un effet 3D */
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.news-grid div {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.news-grid div:hover {
  transform: scale(1.05);
  /* Effet de zoom au survol */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.news-grid div img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.news-grid div img:hover {
  opacity: 0.8;
  /* Opacité au survol */
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* Optionnel : pour arrondir les bords de l'image */
}

.text-container {
  flex: 2;
  max-width: 60%;
}

.text-container p {
  font-size: 1.1em;
  line-height: 1.6;
}

.main-footer__lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  font-size: 1rem;
  text-align: left;
  text-align: center;
}

.main-footer-col a {
  font-size: 22px;
}


.image-agrandie {
  width: 100%; 
  transition: transform 0.3s ease; /
}

.image-agrandie.agrandie {
  transform: scale(1.7); 
}
